
@{
    ViewData["Title"] = "OrderHistorySort";
    string firstName = ViewBag.CustFirstName;
    string lastName = ViewBag.CustLastName;
}
@{ 
    List<StoreModels.Order> orders = ViewBag.Orders;
}

<h1>Order History - @firstName @lastName</h1>
<div class="container">
    <form action="OrderHistorySort" method="post">
        <lable>Sort By:</lable>
        <select name="sortby" id="sortby">
            <option>--Select--</option>
            <option value="ASCDate">Date (Ascending)</option>
            <option value="DESCDate">Date (Descending)</option>
            <option value="ASCTotal">Total (Ascending)</option>
            <option value="DESCTotal">Total (Descending)</option>
        </select>
        <input type="hidden" name="firstName" id="firstName" value="@firstName" />
        <input type="hidden" name="lastName" id="lastName" value="@lastName" />
        <input type="submit" value="Sort" class="btn btn-primary" />
    </form>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Order Date
                </th>
                <th>
                    Total
                </th>
                <th>
                    Location
                </th>
                <th>
                    Products
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in orders)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.LocationName)
                </td>
                <td>
                    @Html.ActionLink("View Products", "ViewProductsForOrder", new { orderID = item.OrderID})
                </td>
            </tr>
            }
        </tbody>
    </table>
        
</div>

